@page
@model EsecureWebApp.Pages.Mantenedores.Empresas.DetailsAjaxModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h1 class="alert-warning">Ajax </h1>
    <h2 class="text-info">@Html.DisplayFor(model => model.Empresa.RazonSocial)</h2>
    <div class="text-hide" id="EmpresaID">@Html.DisplayFor(model => model.Empresa.EmpresaID)</div>
    <!-- Datos de empresa -->
    <partial name="_DetailEmpresaAjax" />
</div>



<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
    }

    /* Fade in tabs */
    @@-webkit-keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @@keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

<style>
 /* Se movio al site css*/
 /*  Working !! */
 /*
    .submodal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url(/images/ajax-loader.gif) 50% 50% no-repeat;
    }
    /* When the body has the loading class, we turn
    the scrollbar off with overflow:hidden 
    body .loading .submodal {
        overflow: hidden;
    }

    /* Anytime the body has the loading class, our
     modal element will be visible 
    body.loading .submodal {
        display: block;
    }*/
</style>
    <div class="tab">
        <button class="tablinks" onclick="openAjax(event, 'Planes')" id="btnGetPlanes"> Planes</button>
        <button class="tablinks" onclick="openAjax(event, 'Faenas')" id="btnGetFaenas"> Faenas</button>
        <button class="tablinks" onclick="openAjax(event, 'Personas')" id="btnGetPersonas">Personas</button>
    </div>

    <div id="Planes" class="tabcontent"></div>

    <div id="Faenas" class="tabcontent"></div>

    <div id="Personas" class="tabcontent"></div>
    @section scripts
        {
        <script type="text/javascript" language="JavaScript">
           
            function openAjax(evt, partial) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("active", "");
                }
                document.getElementById(partial).style.display = "block";
                evt.currentTarget.className += "active";
            }
        </script>
            
        <script type="text/javascript" language="JavaScript">
            $(document).ready(function () {
                $('#mod2ttl').html("<div class='alert-warning'> Información <span class='glyphicon glyphicon-warning-sign'></span> </div>");
                $('#mod2msg').html("<div class='alert-warning'> Hola Msg box  </div>");
                //$('#hdnbtn').click();
                $body = $("body");

                $(document).on({                    
                    ajaxStart: function () {
                        //alert("adding class loading");
                        $body.addClass("loading");
                    },
                    ajaxStop: function () {
                        $body.removeClass("loading");
                        //alert("class loading removed");
                    }
                });
                
                $('#btnGetPlanes').on('click', function () {                   
                    callAjax("p");
                });
                $('#btnGetFaenas').on('click', function () {                    
                    callAjax("f");                    
                });
                $('#btnGetPersonas').on('click', function () {                    
                    callAjax("h");                    
                });
            });
            function callAjax(callingType) {
                var empresaID = 1;
                
                $.ajax({
                    type: "GET",
                    url: "/Mantenedores/Empresas/DetailsAjax?handler=List&emid=" + empresaID + "&tipo=" + callingType,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    contentType: "application/json",
                    dataType: "html",
                    complete: function () {
                       
                    },
                    success: function (response) {
                        //alert("success!");
                        if (callingType == "p") {
                            var dvItems = $("#Planes");
                        }
                        else if (callingType == "f") {
                            var dvItems = $("#Faenas");
                        }
                        else if (callingType == "h") {
                            var dvItems = $("#Personas");
                        }
                        else {
                            ;;
                        }
                        dvItems.empty();
                        dvItems.html(response);                        
                    },
                    failure: function (response) {
                       
                        alert(response);
                    }
                });
            }

        </script>
    }
        <div class="submodal"><!-- Place at bottom of page --></div>