@page
@model EsecureWebApp.Pages.Planes.Mitigacion.IssueLists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles:</h2>

<div>
    <h4>IssueList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IssueList.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IssueList.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.IssueList.IssueListId">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
