@page
@model EsecureWebApp.Pages.FileUploaders.Files.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h4>FileUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FileUp.FileUpID" />
            <div class="form-group">
                <label asp-for="FileUp.FileName" class="control-label"></label>
                <input asp-for="FileUp.FileName" class="form-control" />
                <span asp-validation-for="FileUp.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUp.FileUid" class="control-label"></label>
                <input asp-for="FileUp.FileUid" class="form-control" />
                <span asp-validation-for="FileUp.FileUid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUp.FolderUpID" class="control-label"></label>
                <input asp-for="FileUp.FolderUpID" class="form-control" />
                <span asp-validation-for="FileUp.FolderUpID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUp.FileTypeID" class="control-label"></label>
                <input asp-for="FileUp.FileTypeID" class="form-control" />
                <span asp-validation-for="FileUp.FileTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUp.FileSize" class="control-label"></label>
                <input asp-for="FileUp.FileSize" class="form-control" />
                <span asp-validation-for="FileUp.FileSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUp.TimeStamp" class="control-label"></label>
                <input asp-for="FileUp.TimeStamp" class="form-control" />
                <span asp-validation-for="FileUp.TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUp.LastMod" class="control-label"></label>
                <input asp-for="FileUp.LastMod" class="form-control" />
                <span asp-validation-for="FileUp.LastMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
