@page
@model Bbs.Pages.Params.WorkSites.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WorkSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkSite.WorkSiteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSite.WorkSiteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkSite.SiteID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkSite.SiteID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="WorkSite.WorkSiteID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
