@page
@model ContactModel
@{
    ViewData["Title"] = "Planificación";
}

<div class="col-md-3" style="text-align:left">
    <partial name="_CalendarPartial" />
</div>


@section Scripts {
    <script type="text/javascript" language="JavaScript">
        $(function () {
            //alert("startCalendar");
            startCalendar();
        });
    </script>
}
