@page
@model EsecureWebApp.Pages.Planes.Prevencion.Tareas.HistoricoTareas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Crear nuevo</h2>

<h4>HistoricoTarea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HistoricoTarea.TareaID" class="control-label"></label>
                <input asp-for="HistoricoTarea.TareaID" class="form-control" />
                <span asp-validation-for="HistoricoTarea.TareaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoricoTarea.EstadoAnterior" class="control-label"></label>
                <select asp-for="HistoricoTarea.EstadoAnterior" class="form-control"></select>
                <span asp-validation-for="HistoricoTarea.EstadoAnterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoricoTarea.NuevoEstado" class="control-label"></label>
                <select asp-for="HistoricoTarea.NuevoEstado" class="form-control"></select>
                <span asp-validation-for="HistoricoTarea.NuevoEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoricoTarea.TimeStamp" class="control-label"></label>
                <input asp-for="HistoricoTarea.TimeStamp" class="form-control" />
                <span asp-validation-for="HistoricoTarea.TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
