@page
@model EsecureWebApp.Pages.Exams.Responses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Crear nuevo</h2>

<h4>Response</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewResponse.ExaminationID" class="control-label"></label>
                <input asp-for="NewResponse.ExaminationID" class="form-control" />
                <span asp-validation-for="NewResponse.ExaminationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewResponse.TestID" class="control-label"></label>
                <input asp-for="NewResponse.TestID" class="form-control" />
                <span asp-validation-for="NewResponse.TestID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewResponse.QuestionID" class="control-label"></label>
                <input asp-for="NewResponse.QuestionID" class="form-control" />
                <span asp-validation-for="NewResponse.QuestionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewResponse.TimeStamp" class="control-label"></label>
                <input asp-for="NewResponse.TimeStamp" class="form-control" />
                <span asp-validation-for="NewResponse.TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
