@page
@model EsecureWebApp.Pages.Exams.Tests.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar registro</h2>

<h3>¿Está seguro que quiere eliminar el registro?</h3>
<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Test.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Test.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Test.TestID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-page="./Index">Volver</a>
    </form>
</div>
