@page
@model Bbs.Pages.Params.RespTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RespType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RespType.RespTypeDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RespType.RespTypeDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RespType.RespTypeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
