@page
@model IndexModel
@{
}<h2>Lista de Personas</h2>

<p>
    <a asp-page="Create">Nueva Persona</a>
</p>
<div class="bg-secondary">
    <table class="table table-bordered table-striped table-hover text-dark table-responsive-md" style="width:100%" id="datata">
        <thead>
            <tr>
                <th>

                </th>
                <th>

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th>

                </th>
                <th>

                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    </div>
